@{
    ViewBag.Title = "HistoryOf_KKT";
}

<div class="kkt-history">
    <h2>History of KKT</h2>
    <br />
    <p>
        KKT® Orthopedic Spine Center is a research-led Orthopedic and spine treatment center with a mission to “develop and deliver non-invasive therapies to treat and prevent pain and help people in need across the globe”.
    </p>
    <br />
    <p>
        <strong>KKT® Orthopedic Spine Center</strong>
    </p>
    <br />
    <p>
        Developed by Dr. AslamA. Khan, Khan Kinetic Treatment (KKT®) is a multi-disciplinary program that uses the latest non-invasive technologies, engineering innovation, software development, hardware ingenuity and conventional medicine to diagnose, prevent, treat and rehabilitate conditions that affect the spine. KKT® Orthopedic Spine Center is the principle healthcare organisation associated with offering KKT® therapy to patients across the globe. KKT® centers and locations.
    </p>
    <p>
        KKT® centers and locations
    </p>
    <br />
    <p>From diagnostics, to ground-breaking therapies, and innovative rehabilitation plans, the program offered by KKT® Orthopedic Spine Center’s are tailor made to help patients master back and neck pain and regain control of their lives.</p>
    <br />
    <p>
        <strong>KKT® Orthopedic Spine Center Facts</strong>
    </p>
    
    <table class="tbl-history">
        <tr>
            <td class="td-history-values">1999</td>
            <td class="td-history-desc">Year of founding</td>
        </tr>
        <tr>
            <td class="td-history-values">307,994</td>
            <td class="td-history-desc">Treatments worldwide at this moment</td>
        </tr>
        <tr>
            <td class="td-history-values">300</td>
            <td class="td-history-desc">Employees across 8 countries</td>
        </tr>
        <tr>
            <td class="td-history-values">Affiliated With</td>
            <td class="td-history-desc">University of Victoria, Canada<br />
                University of Newcastle, Canada<br />
                University of Calgary, Canada<br />
                McGill University, Canada
            </td>
        </tr>
        <tr>
            <td class="td-history-values">Certified By</td>
            <td class="td-history-desc">US Food & Drug Administration FDA approved Health Canada</td>
        </tr>
    </table>
    <br />
    <p>
        The first scientifically achieved feature is related to KKT®’s impact on restoring the Mean Axis of Rotation of spinal vertebrae. In simple terms, vertebrae have a fulcrum point which is noted during normal vertebral movements. In most cases of spinal pain, these fulcrum points are moved to an abnormal position. The KKT® treatment works to restore the spine through very specific frequencies back to the normal positions, thus correcting its anatomic and biomechanical function.
    </p>
    <p>KKT® Orthopedic Spine Center research journals are published in the leading research platforms http://www.sciencedirect.com/ and http://www.elsevier.com/</p>

    <br />

    <p>Please view more or our publications: Clinical Research and clinical publications </p>
</div>

